.benefits {
  &__list {
    overflow-x: hidden;
  }
  &__title {
    margin-left: 165px;
    margin-bottom: 24px;
    width: 445px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
  }
  &__text {
    width: 445px;
    margin-left: 160px;
    font-size: 15px;
    line-height: 25px;
    color: #939caa;
  }

  &__img {
    margin-top: -200px;
    margin-left: 693px;
  }

  &__btn {
    padding: 14px 39px;
    margin-left: 165px;
    margin-bottom: 290px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    background-color: #fcb72b;
    border: none;
    cursor: pointer;
  }
  &__btn:hover {
    background-color: #f2f2f2;
    color: #fcb72b;
    border: 3px solid #fcb72b;
  }

  &__container-two {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__img-two {
    margin-left: -355px;
    margin-right: 200px;
    margin-bottom: 226px;
  }

  &__title-two {
    margin-right: 30px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
  }

  &__text-two {
    margin-left: auto;
    width: 445px;
    font-size: 15px;
    line-height: 25px;
    color: #939caa;
  }

  &__button {
    padding: 14px 39px;
    margin-left: auto;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    background-color: #fcb72b;
    border: none;
    cursor: pointer;
  }
  &__button:hover {
    background-color: #f2f2f2;
    color: #fcb72b;
    border: 3px solid #fcb72b;
  }

  .images {
    margin-top: -100px;
  }
}
